.contact-page {
  text-align: right;
  overflow: hidden;
  font-family: lbc;
}

.contact-page .header-wrapper {
  background-image: url("../../assests/contactus-bg.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-page .contact-us-info {
  max-width: 90%;
  margin: auto;
}

.contact-page .contact-us-info .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30vw, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  padding: 20px;
  margin: 20px auto;
}

.contact-page .contact-us-info .info .map {
  width: 80%;
  margin: auto;
}

.contact-page .contact-us-info .info .map img {
  width: 100%;
  border-radius: 54px;
  -webkit-box-shadow: 0px 3px 8px #00000029;
          box-shadow: 0px 3px 8px #00000029;
}

.contact-page .contact-us-info .info .contact-info {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

.contact-page .contact-us-info .info .contact-info p {
  direction: rtl;
  color: #8f8f8f;
  line-height: 25px;
}

.contact-page .contact-us-info .info .contact-info p img {
  padding: 0px 8px;
}

.contact-page .contact-us-info .info .contact-info p span {
  color: #db9b4c;
  text-align: right;
}

.contact-page .contact-us-info .info .contact-info .social-contacts {
  margin: 10px;
  text-align: right;
}

.contact-page .contact-us-info .info .contact-info .social-contacts .social-media {
  margin-top: 20px;
}

.contact-page .contact-us-info .info .contact-info .social-contacts .social-media img {
  cursor: pointer;
}

.contact-page .contact-us-info .send-message {
  margin: auto;
  text-align: center;
}

.contact-page .contact-us-info .send-message h2 {
  color: #162908;
}

.contact-page .contact-us-info .send-message hr {
  width: 97px;
  height: 3px;
  background: #162908;
  border: none;
}

.contact-page .contact-us-info .send-message form {
  direction: rtl;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  margin: auto;
  margin-top: 50px;
  max-width: 70%;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: (80px)[5];
      grid-template-rows: repeat(5, 80px);
      grid-template-areas: "email name" "address address" "message message" "message message" "button button";
}

.contact-page .contact-us-info .send-message form input,
.contact-page .contact-us-info .send-message form textarea {
  padding: 20px;
  margin: 8px;
  text-align: right;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #00000029;
  outline: none;
}

.contact-page .contact-us-info .send-message form input::-webkit-input-placeholder,
.contact-page .contact-us-info .send-message form textarea::-webkit-input-placeholder {
  color: #db9b4c;
  font-weight: bold;
}

.contact-page .contact-us-info .send-message form input:-ms-input-placeholder,
.contact-page .contact-us-info .send-message form textarea:-ms-input-placeholder {
  color: #db9b4c;
  font-weight: bold;
}

.contact-page .contact-us-info .send-message form input::-ms-input-placeholder,
.contact-page .contact-us-info .send-message form textarea::-ms-input-placeholder {
  color: #db9b4c;
  font-weight: bold;
}

.contact-page .contact-us-info .send-message form input::placeholder,
.contact-page .contact-us-info .send-message form textarea::placeholder {
  color: #db9b4c;
  font-weight: bold;
}

.contact-page .contact-us-info .send-message form .name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
}

.contact-page .contact-us-info .send-message form .email {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: email;
}

.contact-page .contact-us-info .send-message form .address {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: address;
}

.contact-page .contact-us-info .send-message form .message {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
  resize: none;
}

.contact-page .contact-us-info .send-message form .submit-btn {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: button;
  width: 40%;
  color: white;
  font-weight: bold;
  font-size: 22px;
  margin: auto;
  outline: none;
  border: none;
  margin-top: 40px;
  background: #db9b4c;
  -webkit-box-shadow: 5px 11px 11px #00000029;
          box-shadow: 5px 11px 11px #00000029;
  border-radius: 18px;
  opacity: 1;
  text-align: center;
}

@media (max-width: 992px) {
  .contact-page .contact-us-info .info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 776px) {
  .contact-page .contact-us-info .send-message form {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    max-width: 100%;
    -ms-grid-rows: (80px)[6];
        grid-template-rows: repeat(6, 80px);
        grid-template-areas: "name name" "email email" "address address" "message message" "message message" "button button";
  }
}
/*# sourceMappingURL=contact.css.map */