@import "../global/themeColors.scss";

.contact-page {
  text-align: right;
  overflow: hidden;
  font-family: lbc;
  .header-wrapper {
    background-image: url("../../assests/contactus-bg.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact-us-info {
    max-width: 90%;
    margin: auto;
    .info {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
      padding: 20px;
      margin: 20px auto;
      .map {
        width: 80%;
        margin: auto;
        img {
          width: 100%;
          border-radius: 54px;
          box-shadow: 0px 3px 8px #00000029;
        }
      }
      .contact-info {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        font-weight: bold;
        p {
          direction: rtl;
          color: $textColor;
          line-height: 25px;
          img {
            padding: 0px 8px;
          }
          span {
            color: $mainColor;
            text-align: right;
          }
        }
        .social-contacts {
          margin: 10px;
          text-align: right;
          .social-media {
            margin-top: 20px;
            img {
              cursor: pointer;
            }
          }
        }
      }
    }
    .send-message {
      margin: auto;
      text-align: center;
      h2 {
        color: $textGreenColor;
      }
      hr {
        width: 97px;
        height: 3px;
        background: $textGreenColor;
        border: none;
      }
      form {
        direction: rtl;
        margin-top: 20px;
        display: grid;
        margin: auto;
        margin-top: 50px;
        max-width: 70%;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, 80px);
        grid-template-areas:
          "email name"
          "address address"
          "message message"
          "message message"
          "button button";
        input,
        textarea {
          padding: 20px;
          margin: 8px;
          text-align: right;
          box-shadow: 0px 3px 6px #00000029;
          border: 1px solid #00000029;
          outline: none;
        }
        input::placeholder,
        textarea::placeholder {
          color: $mainColor;
          font-weight: bold;
        }
        .name {
          grid-area: name;
        }
        .email {
          grid-area: email;
        }
        .address {
          grid-area: address;
        }
        .message {
          grid-area: message;
          resize: none;
        }
        .submit-btn {
          grid-area: button;
          width: 40%;
          color: white;
          font-weight: bold;
          font-size: 22px;
          margin: auto;
          outline: none;
          border: none;
          margin-top: 40px;
          background: $mainColor;
          box-shadow: 5px 11px 11px #00000029;
          border-radius: 18px;
          opacity: 1;
          text-align: center;
        }
      }
    }
  }
  @media (max-width: 992px) {
    .contact-us-info {
      .info {
        grid-template-columns: 1fr;
      }
    }
  }
  @media (max-width: 776px) {
    .contact-us-info {
      .send-message {
        form {
          grid-template-columns: 100%;
          max-width: 100%;
          grid-template-rows: repeat(6, 80px);
          grid-template-areas:
            "name name"
            "email email"
            "address address"
            "message message"
            "message message"
            "button button";
        }
      }
    }
  }
}
