@font-face {
  font-family: "lbc";
  src: url("../../assests/fonts/lbc.otf");
  /* IE9 Compat Modes */
  src: url("../../assests/fonts/lbc.otf") format("embedded-opentype"), url("../../assests/fonts/lbc.otf") format("woff"), url("../../assests/fonts/lbc.otf") format("truetype"), url("../../assests/fonts/lbc.otf") format("svg");
  /* Legacy iOS */
}

.container {
  max-width: 900px;
}

.error {
  border: 1px solid red !important;
}

.header-wrapper {
  font-family: lbc;
  background-image: url("../../assests/about-background-image.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  border-radius: 0px 0px 0px 50%;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 20px 10px #8b8b8b;
          box-shadow: 1px 1px 20px 10px #8b8b8b;
}

.header-wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 24, 4, 0.74);
  z-index: 1;
}

.header-wrapper .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: rgba(15, 56, 15, 0.163);
}

.header-wrapper .navbar .search {
  margin: 20px;
  z-index: 99;
}

.header-wrapper .navbar .consult-button {
  z-index: 99;
  font-size: 17px;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 10px;
  color: white;
  border-radius: 30px;
  margin: 15px;
  padding: 10px 25px;
  cursor: pointer;
  background: -webkit-gradient(linear, left bottom, left top, from(#eebb79), to(#946322));
  background: linear-gradient(0deg, #eebb79 0%, #946322 100%);
}

.header-wrapper .navbar .hamburger-menu {
  display: none;
  z-index: 99;
}

.header-wrapper .navbar .navbar-list {
  display: block;
  z-index: 99;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 70px;
}

.header-wrapper .navbar .navbar-list li {
  margin: 20px;
  font-size: 17px;
  text-align: left;
  font: inherit;
  font-family: LBC;
  cursor: pointer;
}

.header-wrapper .navbar .navbar-list li a {
  text-decoration: none;
  color: white;
}

.header-wrapper .navbar .navbar-list li a:hover, .header-wrapper .navbar .navbar-list li a.active {
  color: #db9b4c;
}

.header-wrapper .navbar .navbar-list li:hover, .header-wrapper .navbar .navbar-list li.active {
  color: #db9b4c;
}

.header-wrapper::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #0e1804;
}

.header-wrapper .logo {
  z-index: 99;
}

header {
  font-family: lbc;
  position: relative;
  height: 100%;
  z-index: 90;
}

header .big-logo {
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header p {
  font-size: 30px;
  color: white;
  position: absolute;
  right: 50px;
  bottom: 100px;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}

footer {
  font-family: lbc;
  margin-top: 100px;
  overflow: hidden;
  width: 100vw;
  height: 410px;
  color: white;
  z-index: 99;
  background: #080c03;
  background-image: url("../../assests//footer-bg.png");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  border-radius: 0px 30% 0% 0%;
}

footer .overlay {
  width: 100%;
  height: 100%;
  background: rgba(8, 12, 3, 0.93);
  position: absolute;
  z-index: -11;
}

footer .footer-wrapper {
  margin: auto;
  margin-top: 60px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  z-index: 99;
}

footer .footer-wrapper .footer-list {
  margin: 0 0 15px;
  padding: 0;
  list-style-position: inside;
  direction: rtl;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (30px)[3];
      grid-template-rows: repeat(3, 30px);
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  list-style: none;
}

footer .footer-wrapper .footer-list li {
  position: relative;
  margin: 20px 15px;
}

footer .footer-wrapper .footer-list li:before {
  content: "\25CF";
  font-size: 25px;
  margin: 25px 15px;
  color: #b48d56;
}

footer .footer-wrapper .follow-us p {
  color: #b48d56;
  text-align: center;
}

footer .footer-wrapper .follow-us span {
  margin: 5px;
}

footer .footer-wrapper .soon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: flex-start;
  position: relative;
  left: -130px;
}

footer .footer-wrapper .soon .top,
footer .footer-wrapper .soon .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-wrapper .soon .top .logo {
  margin: 10px;
}

footer .footer-wrapper .soon .bottom {
  margin-left: -10px;
}

footer .footer-wrapper .soon .bottom span {
  margin: 10px;
  width: 100px;
}

footer .copyrights {
  background: #161f0e93;
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
}

footer .copyrights p {
  text-align: center;
}

footer .copyrights div img {
  position: absolute;
  bottom: 20%;
  left: 140px;
}

@media (max-width: 992px) {
  .header-wrapper .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-wrapper .navbar .logo {
    position: absolute;
    right: 40px;
  }
  .header-wrapper .navbar .navbar-list {
    position: absolute;
    right: 0px;
    top: 65px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 0px;
    background-color: rgba(15, 56, 15, 0.163);
    width: 100%;
    -webkit-transition: all 0.51s ease-in-out;
    transition: all 0.51s ease-in-out;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .header-wrapper .navbar .navbar-list li {
    margin: 20px;
    margin-right: 80px;
    font-size: 17px;
    text-align: left;
    font: inherit;
    font-family: LBC;
    cursor: pointer;
  }
  .header-wrapper .navbar .navbar-list li:hover, .header-wrapper .navbar .navbar-list li:active {
    color: #db9b4c;
  }
  .header-wrapper .navbar .hide {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
  }
  .header-wrapper .navbar .hamburger-menu {
    display: block;
    position: absolute;
    right: 130px;
  }
  footer .footer-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer-wrapper .footer-list {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 100px;
        grid-template-columns: 100px;
  }
  footer .footer-wrapper .footer-list li {
    position: relative;
    margin: 0px;
  }
  footer .footer-wrapper .soon {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    left: 0px;
  }
  footer .footer-wrapper .soon .top,
  footer .footer-wrapper .soon .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer-wrapper .soon .top .logo {
    display: none;
  }
  footer .footer-wrapper .soon .bottom {
    margin-left: -10px;
  }
  footer .footer-wrapper .soon .bottom span {
    margin: 0px;
  }
  footer .footer-wrapper .soon .bottom span img {
    width: 100px;
  }
  footer .copyrights {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .copyrights div img {
    position: relative;
    width: 80%;
    left: 0px;
  }
}

@media (max-width: 440px) {
  .header-wrapper .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-wrapper .navbar .logo {
    display: none;
  }
  .header-wrapper .navbar .hamburger-menu {
    right: 20px;
  }
}

@media (max-width: 776px) {
  footer {
    padding-bottom: 140px;
  }
  footer .footer-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=global-styles.css.map */