@font-face {
  font-family: "lbc";
  src: url("../../assests/fonts/lbc.otf"); /* IE9 Compat Modes */
  src: url("../../assests/fonts/lbc.otf") format("embedded-opentype"),
    /* IE6-IE8 */ url("../../assests/fonts/lbc.otf") format("woff"),
    /* Modern Browsers */ url("../../assests/fonts/lbc.otf") format("truetype"),
    /* Safari, Android, iOS */ url("../../assests/fonts/lbc.otf") format("svg"); /* Legacy iOS */
}

//global styles
.container {
  max-width: 900px;
}

.error{
  border: 1px solid red !important;
}

// Repeated section
.header-wrapper {
  font-family: lbc;
  background-image: url("../../assests/about-background-image.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  border-radius: 0px 0px 0px 50%;
  overflow: hidden;
  box-shadow: 1px 1px 20px 10px rgb(139, 139, 139);
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 24, 4, 0.74);
    z-index: 1;
  }
  .navbar {
    display: flex;
    z-index: 100;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(15, 56, 15, 0.163);
    .search {
      margin: 20px;
      z-index: 99;
    }
    .consult-button {
      z-index: 99;
      font-size: 17px;
      font-weight: bold;
      border: none;
      outline: none;
      padding: 10px;
      color: white;
      border-radius: 30px;
      margin: 15px;
      padding: 10px 25px;
      cursor: pointer;
      background: linear-gradient(
        0deg,
        rgba(238, 187, 121, 1) 0%,
        rgba(148, 99, 34, 1) 100%
      );
    }
    .hamburger-menu {
      display: none;
      z-index: 99;
    }
    .navbar-list {
      display: block;
      z-index: 99;
      list-style: none;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      margin-right: 70px;
      li {
        margin: 20px;
        font-size: 17px;
        text-align: left;
        font: inherit;
        font-family: LBC;
        cursor: pointer;
        a {
          text-decoration: none;
          color: white;
          &:hover,
          &.active {
            color: #db9b4c;
          }
        }
        &:hover,
        &.active {
          color: #db9b4c;
        }
      }
    }
  }
  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 24, 4, 1);
  }
  .logo{
    z-index: 99;
  }

}

header {
  font-family: lbc;
  position: relative;
  height: 100%;
  z-index: 90;
  .big-logo {
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  p {
    font-size: 30px;
    color: white;
    position: absolute;
    right: 50px;
    bottom: 100px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
  }
}

footer {
  font-family: lbc;
  margin-top: 100px;
  overflow: hidden;
  width: 100vw;
  height: 410px;
  color: white;
  z-index: 99;
  background: hsl(90, 63%, 3%);
  background-image: url("../../assests//footer-bg.png");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  border-radius: 0px 30% 0% 0%;
  .overlay {
    width: 100%;
    height: 100%;
    background: hsla(87, 60%, 3%, 0.93);
    position: absolute;
    z-index: -11;
  }
  .footer-wrapper {
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    z-index: 99;

    .footer-list {
      margin: 0 0 15px;
      padding: 0;
      list-style-position: inside;
      direction: rtl;
      display: grid;
      grid-template-rows: repeat(3, 30px);
      grid-template-columns: 1fr 1fr;
      list-style: none;
      li {
        position: relative;
        margin: 20px 15px;
        &:before {
          content: "\25CF";
          font-size: 25px;
          margin: 25px 15px;
          color: #b48d56;
        }
      }
    }
    .follow-us {
      p {
        color: #b48d56;
        text-align: center;
      }
      span {
        margin: 5px;
      }
    }
    .soon {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      align-items: flex-start;
      justify-items: flex-start;
      position: relative;
      left: -130px;
      .top,
      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .top {
        .logo {
          margin: 10px;
        }
      }
      .bottom {
        margin-left: -10px;
        span {
          margin: 10px;
          width: 100px;
        }
      }
    }
  }
  .copyrights {
    background: #161f0e93;
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    p {
      text-align: center;
    }
    div {
      img {
        position: absolute;
        bottom: 20%;
        left: 140px;
      }
    }
  }
}

@media (max-width: 992px) {
  .header-wrapper {
    .navbar {
      justify-content: flex-start;
      align-items: center;
      .logo {
        position: absolute;
        right: 40px;
      }
      .navbar-list {
        position: absolute;
        right: 0px;
        top: 65px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        margin-right: 0px;
        background-color: rgba(15, 56, 15, 0.163);
        width: 100%;
        transition: all 0.51s ease-in-out;
        transform: translateY(0px);
        li {
          margin: 20px;
          margin-right: 80px;
          font-size: 17px;
          text-align: left;
          font: inherit;
          font-family: LBC;
          cursor: pointer;
          &:hover,
          &:active {
            color: #db9b4c;
          }
        }
      }
      .hide {
        transform: translateY(-500px);
      }
      .hamburger-menu {
        display: block;
        position: absolute;
        right: 130px;
      }
    }
  }
  footer {
    .footer-wrapper {
      flex-direction: row-reverse;
      flex-wrap: wrap;
      .footer-list {
        grid-template-rows: 1fr;
        grid-template-columns: 100px;
        li {
          position: relative;
          margin: 0px;
        }
      }
      .soon {
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
        left: 0px;
        .top,
        .bottom {
          flex-direction: column;
          flex-wrap: wrap;
        }
        .top {
          .logo {
            display: none;
          }
        }
        .bottom {
          margin-left: -10px;
          span {
            margin: 0px;
            img {
              width: 100px;
            }
          }
        }
      }
    }
    .copyrights {
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      div {
        img {
          position: relative;
          width: 80%;
          left: 0px;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .header-wrapper {
    .navbar {
      justify-content: flex-start;
      align-items: center;
      .logo {
        display: none;
      }
      .hamburger-menu {
        right: 20px;
      }
    }
  }
}

@media (max-width: 776px) {
  footer {
    .footer-wrapper {
      flex-wrap: wrap;
    }
    padding-bottom: 140px;
  }
}
