@import '../global/themeColors.scss';
.about {
  font-family: lbc;
  overflow: hidden;
  main {
    .main-content {
      font-size: 20px;
      margin: 500px 20px;
      margin: auto;
      text-align: right;
      padding: 10px;
      p:first-of-type {
        margin-top: 90px;
      }
      p {
        color: $textColor;
        line-height: 38px;
      }
    }
    .information {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
      //   grid-template-rows: 1fr;
      margin: auto;
      .info {
        text-align: center;
        width: 90%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img {
          img {
            width: 100%;
          }
        }
        .arrow {
          margin-top: -20px;
          margin-bottom: 40px;
        }
        .title {
          color: $mainColor;
        }
        .describe {
          color: $textColor;
          text-align: right;
          position: relative;
          right: 8px;
          width: 70%;
        }
      }
    }
  }

  @media (max-width: 776px) {
    main {
      .main-content {
        padding: 10px 40px;
      }
      .information {
        .info {
          margin-left: 10px;
          text-align: center;
          .arrow {
            margin-bottom: 0px;
          }
          .describe {
            text-align: center;
            right: 0px;
          }
        }
      }
    }
  }
}
