.about {
  font-family: lbc;
  overflow: hidden;
}

.about main .main-content {
  font-size: 20px;
  margin: 500px 20px;
  margin: auto;
  text-align: right;
  padding: 10px;
}

.about main .main-content p:first-of-type {
  margin-top: 90px;
}

.about main .main-content p {
  color: #8f8f8f;
  line-height: 38px;
}

.about main .information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(275px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  margin: auto;
}

.about main .information .info {
  text-align: center;
  width: 90%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about main .information .info .img img {
  width: 100%;
}

.about main .information .info .arrow {
  margin-top: -20px;
  margin-bottom: 40px;
}

.about main .information .info .title {
  color: #db9b4c;
}

.about main .information .info .describe {
  color: #8f8f8f;
  text-align: right;
  position: relative;
  right: 8px;
  width: 70%;
}

@media (max-width: 776px) {
  .about main .main-content {
    padding: 10px 40px;
  }
  .about main .information .info {
    margin-left: 10px;
    text-align: center;
  }
  .about main .information .info .arrow {
    margin-bottom: 0px;
  }
  .about main .information .info .describe {
    text-align: center;
    right: 0px;
  }
}
/*# sourceMappingURL=about.css.map */